body {
    text-align: center;
}

h1 {
    color: rgb(255, 166, 0);
}

h2 {
    color: rgb(81, 0, 128)
}

img {
    display: block;
    margin: 0 auto;
    border: 2px solid blue;
    width: 20%;
    height: 20%;
}